/* Coolors Exported Palette - https://coolors.co/134074-13315c-0b2545-8da9c4-eef4ed */

/* CSS HEX */
--yale-blue: #134074ff;
--berkeley-blue: #13315cff;
--oxford-blue: #0b2545ff;
--powder-blue: #8da9c4ff;
--mint-cream: #eef4edff;

/* CSS HSL */
--yale-blue: hsla(212, 72%, 26%, 1);
--berkeley-blue: hsla(215, 66%, 22%, 1);
--oxford-blue: hsla(213, 72%, 16%, 1);
--powder-blue: hsla(209, 32%, 66%, 1);
--mint-cream: hsla(111, 24%, 94%, 1);

/* SCSS HEX */
$yale-blue: #134074ff;
$berkeley-blue: #13315cff;
$oxford-blue: #0b2545ff;
$powder-blue: #8da9c4ff;
$mint-cream: #eef4edff;

/* SCSS HSL */
$yale-blue: hsla(212, 72%, 26%, 1);
$berkeley-blue: hsla(215, 66%, 22%, 1);
$oxford-blue: hsla(213, 72%, 16%, 1);
$powder-blue: hsla(209, 32%, 66%, 1);
$mint-cream: hsla(111, 24%, 94%, 1);

/* SCSS RGB */
$yale-blue: rgba(19, 64, 116, 1);
$berkeley-blue: rgba(19, 49, 92, 1);
$oxford-blue: rgba(11, 37, 69, 1);
$powder-blue: rgba(141, 169, 196, 1);
$mint-cream: rgba(238, 244, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #134074ff, #13315cff, #0b2545ff, #8da9c4ff, #eef4edff);
$gradient-right: linear-gradient(90deg, #134074ff, #13315cff, #0b2545ff, #8da9c4ff, #eef4edff);
$gradient-bottom: linear-gradient(180deg, #134074ff, #13315cff, #0b2545ff, #8da9c4ff, #eef4edff);
$gradient-left: linear-gradient(270deg, #134074ff, #13315cff, #0b2545ff, #8da9c4ff, #eef4edff);
$gradient-top-right: linear-gradient(45deg, #134074ff, #13315cff, #0b2545ff, #8da9c4ff, #eef4edff);
$gradient-bottom-right: linear-gradient(135deg, #134074ff, #13315cff, #0b2545ff, #8da9c4ff, #eef4edff);
$gradient-top-left: linear-gradient(225deg, #134074ff, #13315cff, #0b2545ff, #8da9c4ff, #eef4edff);
$gradient-bottom-left: linear-gradient(315deg, #134074ff, #13315cff, #0b2545ff, #8da9c4ff, #eef4edff);
$gradient-radial: radial-gradient(#134074ff, #13315cff, #0b2545ff, #8da9c4ff, #eef4edff);